<!-- Content -->
<div id="content">

    {{> tvshows_box shows_head="NEW TV SHOWS" tvshows=new_shows }}

    {{> tvshows_box shows_head="TOP RATED" tvshows=top_shows }}

    {{> tvshows_box shows_head="MOST VOTED" tvshows=voted_shows }}

</div>
<!-- end Content -->
